<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- RESET CSS -->
    <link rel="stylesheet" href="../static/css/_reset.css" />
    <!-- AJAX CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 초기 설정 CSS -->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Devflix</title>
  </head>
  <body>
    <main>
      <div class="profiles-gate-container">
        <div class="centered-div list-profiles-container">
          <div class="list-profiles">
            <h1 class="profile-gate-label">
              프로필을 선택하세요.
            </h1>
            <ul class="choose-profile" id="choose-profile">
          </div>
        </div>
      </div>
    </main>
    <script src="../static/js/index.js"></script>
  </body>
</html>
